<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.exportWizards">
      <wizard
            class="wizard.ExportAndGenerateWizard"
            icon="icons/sample.png"
            id="export.wizard"
            name="导出文档">
         <selection
               class="org.eclipse.core.resources.IFile"
               name="*.uml">
         </selection>
      </wizard>
   </extension>
   
   <extension point="org.eclipse.ocl.pivot.complete_ocl_registry">
      <document resource="src/util/ModelConstraints.ocl">
         <for uri="http://www.eclipse.org/uml2/5.0.0/UML"/>
      </document>
   </extension>
</plugin>
